---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!--{{ content }}-->

<table id="hometable">
<tr>
<td id="hometable">
<b>Notes about interesting challenges I’ve experienced in relation to…</b><br>
containers at scale, automation, networking, encryption, monitoring, testing and generally trying to build and run production systems reliably.
</td>
</tr>
</table>


<table>
<tr>
<td id="hometable">
<b>To Search:</b>
as all posts are on one page cmd-f/ctrl-f will suffice
</td>
</tr>
</table>



  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
